* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-form {
  background-color: #eee;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
}
.hide-login-active {
  background-color: #eee;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  z-index: -1;
  opacity: 0.2;
}
.register-form-title {
  text-align: center;
  padding-bottom: 30px;
}
.input-fields {
  padding-bottom: 15px;
}
.login-link-text {
  background: none;
  border: none;
  outline: none;
  display: block;
  margin: auto;
  color: #008ed3;
  text-decoration: underline;
  padding-top: 10px;
}
.login-active {
  background-color: #eee;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  opacity: transparent;
}